<div class="container y col-lg-4">
  <div [class]="alert" role="alert">Logado com sucesso!</div>

  <form>
    <h1>Login</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Endereço de email</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-4"></div>
    <button type="submit" class="btn btn-primary" (click)="onClick()">
      Entrar
    </button>
  </form>
</div>
